<div class="marquee">
  <marquee behavior="scroll" scrollamount="7" direction="left" id="mid">
      <p onmouseover="mid.stop()" onmouseout="mid.start()"><span>New *</span> Children's Day Celebration Video <a href="https://youtu.be/wQHb0lbp3yM" target="_blank">Click Here</a> <p>
      <p onmouseover="mid.stop()" onmouseout="mid.start()"><span>New *</span> Schoenstatt St.Mary’s Waves, Volume-4 | Issue-1, August to October-2020 <a href="/Home_Page/Volume-4 | Issue-1 August to October-2020.pdf" target="_blank">Click Here</a> <p> 
      <p onmouseover="mid.stop()" onmouseout="mid.start()"><span>New *</span> I Quarterly Examination for I PUC will be conducted from 17-11-2020 to 23-11-2020 <a href="#" target="_blank">-</a> <p> 
      <p onmouseover="mid.stop()" onmouseout="mid.start()"><span>New *</span> II PUC Midterm Examination Begins from 2-11-2020 to 7-11-2020 <a href="#" target="_blank">-</a> <p> 
      </marquee>
</div>